@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Tek Experts <a href="google.com">Nepa Experts dey owe me money</a>.</p>
</div>
